@h1: 'Bungee Shade', cursive;
@orbitron: 'Orbitron', sans-serif;


h1 {
  color: @orange;
  font-family: @h1;
  margin-left: 12.5%;
  font-size: 55px;
}

h3, h5 {
  color: @orange;
  margin-left: 42.5%;
}

h4 {
  color: @orange;
  margin-left: 42.5%;
}

.input, {
  margin-left: 38%;
  margin-top: 2%;
}

.canvas {
  margin-left: 11%;
}

.button {
  margin-left: 40%;
}

.scoreboard {
  list-style: none;
  color: @yellow;
  margin-left: 22%;
}

.score-div {
  margin-top: 2%;
}

.score-submit {
  margin-left: -98%;
  margin-top: 12%;

}

.form {
  margin-left: 10%;
}



