@h1: 'Bungee Shade', cursive;


h1 {
  color: @orange;
  font-family: @h1;
  margin-left: 13.5%;
  font-size: 55px;
}

h5 {
  color: @black;
  margin-left: 45%;
}

.input, {
  margin-left: 41.5%;
  margin-top: 2%;
}

.canvas {
  margin-left: 12%;
}

.button {
  margin-left: 43%;
}


