h1 {
  color: @orange;
  margin-left: 37.5%;
}

h5 {
  color: @black;
  margin-left: 25%;
}

.input, {
  margin-left: 45%;
  margin-top: 2%;
}

.canvas {
  margin-left: 15%;
}

.button {
  margin-left: 46.25%;
}


