<header class="container">
  <div class="row">
    <div class="col-12">
      <h1>Peasantry: the Game</h1>
        <div class="canvas" id="canvas_div">
        </div>
        <div class="scoreSubmit">
          {{>scoreSubmit}}
        </div>
    </div>
  </div>
</header>


