<!DOCTYPE html>
<html>
<head>
  <title>Peasantry: the Game</title>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Creepster|Lakki+Reddy|Orbitron|Original+Surfer" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
