<form method='post' action='/scores'>
  <input type="text" name="username" class="input" placeholder="..enter your gamer tag">
  <input id="scoreboard" type="hidden" name="score" value=''>
  <h5 id="scoreboard_2" name="score">Score: </h5>
  <button type="submit" class="button">Submit Score!</button>
</form>
