<form method='post' action='/scores'>
  <input  class="input" type="text" name="username" placeholder="..enter your gamer tag">
  <input id="scoreboard" type="hidden" name="score" value=''>
  <h5 id="scoreboard_2" name="score">Score: </h5>
  <button class="button" type="submit">Submit Score!</button>
</form>
