<form method='post' action='/scores'>
  <input type="text" name="username" placeholder="..enter your gamer tag">
  <h5 id="scoreboard">Score: </h5>
  <button type="submit">Submit Score!</button>
</form>
